@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css';

@import 'nativewind/theme';

:root {
  /* 🎨 Brand Colors */
  --color-primary: #2563EB;
  --color-primary-hover: #1D4ED8;

  /* ✅ Semantic Colors */
  --color-success: #22C55E;
  --color-warning: #F59E0B;
  --color-warning-dark: #D97706;
  --color-danger: #EF4444;
  --color-info: #38BDF8;

  /* 🎵 Spotify */
  --color-spotify: #1DB954;

  /* 🧱 Surfaces — Light (Off-white) */
  --color-bg: #F9FAFB;           /* fond global */
  --color-surface: #FFFFFF;      /* cartes principales */
  --color-surface-soft: #F1F5F9; /* cartes secondaires */
  --color-border: #dadada;

  /* ✍️ Text */
  --color-text-title: #0F172A;
  --color-text: #334155;
  --color-text-muted: #64748B;
  --color-text-disabled: #94A3B8;
}

.dark {
  --color-bg: #020617;
  --color-surface: #0F172A;
  --color-surface-soft: #1E293B;
  --color-border: #334155;

  --color-text-title: #E5E7EB;
  --color-text: #CBD5E1;
  --color-text-muted: #94A3B8;
  --color-text-disabled: #64748B;

  --color-primary: #3B82F6;
  --color-primary-hover: #2563EB;
}

@theme {
  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);
  --color-success: var(--color-success);
  --color-warning: var(--color-warning);
  --color-warning-dark: var(--color-warning-dark);
  --color-danger: var(--color-danger);
  --color-info: var(--color-info);
  --color-spotify: var(--color-spotify);
  
  --color-bg: var(--color-bg);
  --color-surface: var(--color-surface);
  --color-surface-soft: var(--color-surface-soft);
  --color-border: var(--color-border);
  
  --color-text-title: var(--color-text-title);
  --color-text: var(--color-text);
  --color-text-muted: var(--color-text-muted);
  --color-text-disabled: var(--color-text-disabled);
}